.logo {
    float: left;
    width: 246px;
    height: 80px;
    border-right: 1px solid #e7e7e7;
    background: url("../images/logo.svg") center center no-repeat;
    background-size: 186px 49px !important;
}

header, footer, main, .header_top {
    border: 1px solid black;
}
